<!-- carousel-->
<div id="carousel" class="container">

	<div class="carousel-img">
		<div id="img1">
			<img class="testi" src="https://s33.postimg.cc/6iop244a7/img1.jpg" alt="">
		</div>

		<div class="img2">
			<img src="https://s33.postimg.cc/6wq11j8wf/img2.jpg" alt="">
		</div>

		<div class="img3">
			<img src="https://s33.postimg.cc/pcahz2khr/img3.jpg" alt="">
		</div>

	</div>

	<div class="carousel-btn">
		<button id="prev">
			<span id="prev" class="glyphicon glyphicon-menu-left">Prev</span>
		</button>
		<button id="next">
			<span id="next" class="chenge glyphicon glyphicon-menu-right">Next</span>
		</button>
	</div>
</div>
<!-- Banner -->
	<div class="banner" id="mybanner">
		<h1 class="title">Welcome to our page</h1>
		<button class="btn-blue"><a href="#mytabs">Let's casse dall</a></button>
	</div>
	<hr>

<!-- TABS -->
<div class="container">
	<h2 class="title" id="mytabs">TABS</h2>
	<div class="tabs">
	  <button id="tab1" class=" ">Presentation</button>
	  <button id="tab2" class=" ">Menu</button>
	  <button id="tab3" class=" ">Aurte</button>
	</div>

	<div id="presentation" class="tabcontent p">
	  <h3>Presentation</h3>
	  <p>London is the capital city of England.</p>
	</div>

	<div id="menu" class="tabcontent m">
	  <h3>Menu</h3>
	  <p>Paris is the capital of France.</p> 
	</div>

	<div id="rien" class="tabcontent r">
	  <h3>Autre</h3>
	  <p>Tokyo is the capital of Japan.</p>
	</div>

</div>
